.wrapper
  .navi
    .navi__top
      %p.username= current_user.name
      .icon
        = link_to '', edit_user_registration_path, class: 'fa fa-cog icon__edit'
        = link_to '', new_user_registration_path, class: 'fa fa-pencil-square-o icon__setting'
    .navi__bottom
      .message
        %p.message__group Liberal Democrat Party
        %p.message__body まだメッセージはありません
      .message
        %p.message__group Democratic Party
        %p.message__body まだメッセージはありません
      .message
        %p.message__group Communist Party
        %p.message__body まだメッセージはありません
  .group
    .group__top
      .groupdata
        %p.groupdata__name= @group.name
        %p.groupdata__memberlist Taro Aso, Tomomi Inada
      = link_to 'Edit', edit_group_path(@group), class: 'editbutton'
    .group__middle
      %ul.individualmessage
        %li.individualmessage__name= "AAAA"
        %li.individualmessage__date= "AAAA"
        %li.individualmessage__body= "AAAA"
      %ul.individualmessage
        %li.individualmessage__name= "AAAA"
        %li.individualmessage__date= "AAAA"
        %li.individualmessage__body= "AAAA"
    .group__bottom
      = form_for [@group, @message], html: {class: 'write'} do |f|
        = f.text_field :body, class: 'write__text', placeholder: 'type a message'
        .write__icon <i class="fa fa-picture-o" aria-hidden="true"></i>
        = f.submit 'Send', class: 'sendbutton'
