.wrapper
  .navi
    .navi__top
      %p.username= current_user.name
      .icon
        = link_to '', edit_user_registration_path, class: 'fa fa-cog icon__edit'
        = link_to '', new_user_registration_path, class: 'fa fa-pencil-square-o icon__setting'
    .navi__bottom
      = render @groups
  .group
    .group__top
      .groupdata
        %p.groupdata__name= @group.name
        - @group.users.each do |n|
          %p.groupdata__memberlist= n.name
      = link_to 'Edit', edit_group_path(@group), class: 'editbutton'
    .group__middle
      = render @messages
    .group__bottom
      = form_for [@group, @message], html: { class: 'group__bottom__form' } do |f|
        = f.hidden_field :user, class: 'group__bottom__form__name', value: current_user.name
        = f.text_field :body, class: 'group__bottom__form__text', placeholder: 'type a message'
        / = f.label :image, class: 'group__bottom__form__image' do
        /   %i.fa.fa-picture-o
        /   = f.file_field :image, type: "hidden", class: 'group__bottom__form__image__uploader'
        = f.submit "Send", class: 'group__bottom__form__sendbutton'
