= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, 'グループ名', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat-group-form__input', id: 'group_name', placeholder: 'グループ名を入力してください'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバーを追加, class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        .user-search-field.chat-group-form__input
          .chat-group-form__search.clearfix
            = form_tag("/search", method: "get") do
              = text_field_tag "", "", id: "search_window", name: "", class:"chat-group-form__input", placeholder: "追加したいユーザー名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバー, class: 'chat-group-form__label'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit 'Save', class: 'chat-group-form__action-btn'
